<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<p>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<%- include ('./partials/header') %>
<h1>HEllo new revesion</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, asperiores laudantium. Libero quisquam corporis natus
     eveniet, ut suscipit, non dolores iste dicta, nam quibusdam doloribus?
</p>
<%- include ('./partials/footer')%>

</body>
</html>