<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/blogs" method="POST">
       <label for="username"> Name : </label>
       <input type="" name="username" id="">
       <label for="comment"> Comments :</label>
       <input type="text" name="comment">
       <button type="submit">Add Comment</button>
    </form>
</body>
</html>